/* Wrapper
 * ========================================================================== */

.wrapper {
  box-sizing: content-box;
  max-width: 90ch;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

