/* Wrapper
 * ========================================================================== */

.wrapper {
  width: 90vw;
  width: clamp(16rem, 90vw, 70rem);
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

