.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 8ch;
  padding: 0.75em 1em;
  line-height: 1;
  color: var(--color-light);
  text-align: center;
  text-decoration: none;
  background-color: var(--color-dark);
  border: 0;
  border-radius: 0.25em;

  &--icon {
    min-width: initial;
  }
}

