// Breakpoints
$breakpoints: (
  sm: 576px,
  md: 768px,
  xl: 1200px,
);

:root {
  /* Scale */
  --ratio: 1.333;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));

  /* Typographic scale */
  --size-300: var(--s-1);
  --size-400: var(--s0);
  --size-500: var(--s1);
  --size-600: var(--s2);
  --size-700: var(--s3);
  --size-800: var(--s4);
  --size-900: var(--s5);

  /* Fonts */
  --font-family-base: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --font-family-display: Georgia, Times, Times New Roman, serif; ;
  --font-family-code: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

  /* Line height */
  --line-height: 1.5;

  /* Colors */
  --color-primary: #00F;
  --color-light: #FFF;
  --color-dark: #000;

  /* Border radius */
  --border-radius: 0.25rem;
}

