/**
 * Box sizing rules
 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
 * Remove default margin
 */

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/**
 * Help prevent overflow of long words/names/URLs
 */

p,
li,
h1,
h2,
h3,
h4 {
  word-break: break-word;
}

/**
 * Set core root defaults
 */

html:focus-within {
  scroll-behavior: smooth;
}

/**
 * Set core body defaults
 */

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/**
 * A elements that don't have a class get default styles
 */

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/**
 * Remove list styles on ul, ol elements with a list role, which suggests
 * default styling will be removed
 */

ul[role='list'],
ol[role='list'] {
  padding: 0;
  margin: 0;
  list-style: none;
}

/**
 * Make images easier to work with
 */

img,
picture {
  display: block;
  max-width: 100%;
}

img[width] {
  width: auto;
}

img[width][height] {
  height: auto;
}

img[src$='.svg'] {
  width: 100%;
  max-width: none;
  height: auto;
}

svg:not([fill]) {
  fill: currentColor;
}

/**
 * Inherit fonts, letter and word spacing for inputs and buttons
 */

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
}

/**
 * Remove all animations and transitions for people that prefer not to see
 * them.
 */

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}
