/* Forms
 * ========================================================================== */

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  margin: 0;
  line-height: 1.15;
  letter-spacing: inherit;
  vertical-align: middle;
  border: 0;
  border-radius: 0;
  word-spacing: inherit;
}

[type='text'],
[type='email'],
select,
textarea {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #a0a0a0;

  &:focus {
    outline-offset: 0;
  }
}

textarea {
  overflow: auto;
  resize: vertical;
}

select {
  padding-right: 1em;
  word-wrap: normal;
  cursor: pointer;
  background: no-repeat right center / 1em;
  -webkit-appearance: none;
  appearance: none;

  &:not([multiple]):not([size]) {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='4'%3E%3Cpath d='M4 0h6L7 4'/%3E%3C/svg%3E");
  }

  &::-ms-expand {
    display: none;
  }
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
  border: 1px solid #a0a0a0;
}

legend {
  padding: 0;
}

label[for] {
  cursor: pointer;
}

button {
  cursor: pointer;
  background: transparent;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 */

button,
select {
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove the additional ':invalid' styles in Firefox.
 * See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
 */

:-moz-ui-invalid {
  box-shadow: none;
}

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the cancelation icon and inner padding in Chrome, Edge, and Safari on macOS.
 */

::-webkit-search-cancel-button,
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

