/* Global
 * ========================================================================== */

body {
  font-family: var(--font-family-base);
  font-size: calc(1rem + 0.25vw);
  line-height: var(--line-height);
  color: var(--color-dark);
  background-color: var(--color-light);
}

::selection {
  color: var(--color-light);
  text-shadow: none;
  background: var(--color-dark);
}

/* Focus
 * ========================================================================== */

:focus {
  outline: 2px solid #000;
  outline-offset: 0.25rem;
}

main:focus {
  outline: none;
}

/* Typography
 * ========================================================================== */

hr {
  overflow: visible;
  border-width: 1px 0 0;
}

abbr[title] {
  text-decoration: underline dotted;
  cursor: help;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

code,
kbd,
samp,
pre {
  font-family: var(--font-family-code);
  font-size: 1em;
}

/* Interactive content
 * ========================================================================== */

details {
  display: block;
}

summary {
  display: list-item;
}

