*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

p,
li,
h1,
h2,
h3,
h4 {
  word-break: break-word;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

img,
picture {
  display: block;
  max-width: 100%;
}

img[width] {
  width: auto;
}

img[width][height] {
  height: auto;
}

img[src$='.svg'] {
  width: 100%;
  max-width: none;
  height: auto;
}

svg:not([fill]) {
  fill: currentColor;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
}

/**
 * Remove all animations and transitions for people that prefer not to see
 * them.
 */

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}

